.issueCreate{
    margin: 50px 0 0 0;
}

.issueList ul{
    list-style-type: none;
}

.issue{
    border: 2px solid grey;
    background-color: lightgrey;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 40px;
    width: 400px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.issue .title{
    margin: 0 0 10px 0; 
}

.issue .resolution{
    text-align: right;
    padding: 0 20px 0 0;
}

.issue .completed{
   text-decoration:line-through;
}

.priority-blocker{
    background-image: url('images/priority_blocker.gif');
}

.priority-critical{
    background-image: url('images/priority_critical.gif');
}

.priority-major{
    background-image: url('images/priority_major.gif');
}

.priority-minor{
    background-image: url('images/priority_minor.gif');
}

.priority-trivial{
    background-image: url('images/priority_trivial.gif');
}