<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Backbone Kata</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="App.css" />
  
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>  
	<script src="lib/backbone/backbone.js"></script> 
	<script src="App.js"></script>
    
    <script type="text/template" id="issue-template">
        <div class="issue priority-<%= priority %>">
            <div class="title <% if(fixed){ %> completed <%}%>"><%= title %></div>
            <div class="resolution">
                <input type="checkbox" name="fixed" class="completedCheckbox" <% if(fixed){ %> checked <%}%> /> Fixed
                <a href="#" class="removeLink">Remove</a>  
            </div>
        </div>
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 left-content">
                <div class="issueCreate">
                    <form class="well" id="newIssueForm">
                        <label>Create an issue:</label>
                        <input type="text" id="newIssueText" placeholder="Issue Title..." />
                        <select id="newIssuePriority">
                            <option value="blocker">Blocker</option>
                            <option value="critical">Critical</option>
                            <option value="major">Major</option>
                            <option value="minor">Minor</option>
                            <option value="trivial">Trivial</option>
                        </select>
                        <input type="button" id="newIssueSubmit" class="btn" value="Create" />
                    </form>
                </div>
                <div class="issueList" />
					<!-- <ul> goes here -->
				</div>
            </div>
            <div class="span8">
            </div>
        </div>
    </div>

</body>
</html>
