﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Todo List</title>
    <link href="@Url.Content("~/Content/todolist.css")" rel="stylesheet" />
</head>
<body>
    <h1>Todo List</h1>
    <div class="todoList">
    </div>

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.3.0.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-todolist.js")"></script>
    <script>
        $(function() {
            $(".todoList").todoList();
        });
    </script>
</body>
</html>
